<h1>Welcome to Melbourne Creatives Network</h1>
<p>Your new site for creative indiviuals in the Melbourne area</p>

<p>Please sign in and get access to the hottest jobs in the local area</p>


<%= link_to 'Click Here to Enter          |', jobs_path %>
<%= link_to 'Sign In          |', jobs_path %> 

<%= link_to 'Create a new job', new_job_path %> 
